{{#each profile}}
<form action='/editprofile'>
	<h1 id="username">{{username}}</h1>
	<h2>Address:</h2>

	<h3 name="zip"></h3>Zip: {{zip}}<br>
	<h3 name="zip"></h3>Planet # From Star: {{planetNum}}<br>
	<h3 name="zip"></h3>X Coordinate: {{Xcoord}}<br>
	<h3 name="zip"></h3>Y Coordinate: {{Ycoord}}<br>
	<h3 name="zip"></h3>PO Box: {{POBox}}<br>
				
	<input type='submit' value='Edit account'>
	<input type='submit' value='Sign Out' formaction='../'>
</form>
{{/each}}